@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4opn0b');
    src: url('../fonts/icomoon.eot?4opn0b#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4opn0b') format('truetype'),
        url('../fonts/icomoon.woff?4opn0b') format('woff'),
        url('../fonts/icomoon.svg?4opn0b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}


.w {
    width: 1440px;
    margin: 0 auto;
}

body {
    background-color: #F9F8F5;
    background: url(../imgs/background);
}

/* head区域 */
.head {
    position: absolute;
    left: 50%;

    width: 1440px;
    margin-left: -720px;
    z-index: 600;
    background: rgba(0, 0, 0, 0);
    height: 90px;
    border-bottom: 1px solid #333030;
}

.head .logo {

    position: absolute;
    bottom: 30px;
    left: 0;
    width: 59px;
    height: 71px;
    line-height: 71px;
    margin-left: 50px;


}

.head .logo img {

    width: 100%;
    height: 100%;

}

.head .fl {
    position: absolute;
    left: 200px;

    width: 735px;



}

.fl ul li {
    float: left;
    width: 80px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;

}

.fl ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.fl ul li a {
    color: #fff;
}





.fl ul li ul.sub-menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);

}

.fl ul li:hover>ul.sub-menu {
    display: block;
}

.fl ul li ul.sub-menu li {
    float: none;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;

}

.fl .white {
    width: 1px;
    height: 18px;
    line-height: 90px;
    background-color: #fff;
    margin: 38px 15px 0;

}

.login {
    float: right;

    width: 300px;
    height: 90px;
    line-height: 90px;
}


.login ul li {
    float: left;

    margin-left: 20px;
    font-size: 18px;
    color: #fff;
}




.s_red {
    color: rgb(194, 46, 46);
}

.phone {
    float: right;
    margin-right: 60px;
    line-height: 90px;
    font-size: 18px;
    color: #fff;
}



.logo {
    padding-top: 18px;
}

/* 轮播图开始 */
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 950px;
    /* 可以根据需要调整 */
    margin: 0 auto;
    overflow: hidden;
}

.carousel a {
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: "宋体";
    width: 600px;
    margin-left: -300px;
    height: 60px;
    font-size: 42px;
    color: #fff;

}

.carousel .slides {

    display: flex;
    transition: transform 0.5s ease;
}


.carousel .slides .slide {
    width: 100%;
    flex-shrink: 0;
    display: none;
    /* 默认不显示 */
}

.carousel .slides img {
    display: block;
    width: 100%;
    height: 950px;
    overflow: hidden;

}

.carousel .controls {
    text-align: center;
    margin-top: 10px;
}

.carousel .controls button {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}



/* 旅行栏开始 */
.travel {
    position: absolute;
    width: 1440px;
    left: 50%;
    bottom: 150px;
    margin-left: -720px;
    height: 70px;

    line-height: 70px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);

}




.start h2 {
    margin-left: 55px;
    float: left;
    font-size: 20px;

    color: black;
}

.start input {
    margin-left: 550px;
    width: 300px;
    height: 35px;
    border-radius: 50px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #333030;

}



.start .search_icon {
    display: inline-block;
    width: 60px;
    height: 70px;
    content: 'f002';
    color: #514d4d;
    font-family: 'icomoon';
    margin-left: 5px;
    line-height: 70px;
    font-size: 20px;
}

.start button {
    position: absolute;
    right: 0;
    background-color: #B24840;
    width: 220px;
    border-radius: 0 20px 20px 0;

    color: #fff;
    font-size: 16px;
    line-height: 70px;

}

.s_date {
    position: absolute;
    right: 0;
    top: -60px;
    font-size: 16px;
    color: #fff;

}



#clock {
    position: absolute;
    right: 55px;
    top: -100px;
    font-size: 18px;
    color: #fff;
    width: 180px;
    height: 50px;

    font-size: 16px;

    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin: 50px auto;
    color: #fff;
}

.relation {
    position: fixed;
    right: 0;
    top: 25%;
    width: 50px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35px;

}

.relation ul li {
    display: block;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;

}

.return {
    margin-top: 70px;
    margin-left: 10px;
}

.return a {
    font-family: 'icomoon';
    color: black;
    font-size: 50px;

}

.relation img {
    width: 100%;
    height: 100%;
}





/* content开始 */

.content {
    position: relative;
    top: -100px;
    height: 200px;
    border-radius: 30px;
}

.content ul li {
    float: left;
    width: 450px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;

}

.content ul li:hover img {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.52);

}

.content ul li img {
    border-radius: 30px;

    width: 100%;
}

#c1 {
    margin: 0 40px;
}

#c2 {
    float: right;
}

.content h2 {
    text-align: center;
}

.travel_icon {
    position: absolute;
    top: 0;
    right: 30%;
    font-family: "icomoon";
    font-size: 20px;

}

.box3 {
    margin-top: 50px;
    height: 620px;


}

.box3_h {
    height: 100px;

    text-align: center;
    font-size: 40px;
    color: #1B4549;
}

.box3_img {
    height: 480px;
}

/* 遮罩效果 */
.mask {
    /* 隐藏遮罩层 */
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

/* 当我们鼠标经过了 土豆这个盒子，就不让里面遮罩层显示出来 */
.rimg:hover .mask {
    display: block;

}

.limg ul li:hover .mask {
    display: block;
}

.mask p {
    color: #fff;
    font-size: 18px;
    padding: 50px;
    text-align: center;
}

/* 遮罩效果结束 */
.rimg {
    position: relative;
    float: left;
    width: 500px;
    height: 550px;

}

.rimg h4 {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    background-color: #1B4549;
}

.rimg img {
    width: 100%;
    height: 100%;
}

.limg {

    float: right;
    height: 600px;
    width: 940px;
}

.limg ul li {
    position: relative;
    float: left;
    width: 440px;
    height: 250px;
    margin-left: 15px;
    margin-bottom: 50px;

}

.limg ul li img {
    width: 100%;
    height: 100%;
}



.lfoot {
    display: block;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;

    line-height: 40px;
    color: #fff;
    background-color: #1B4549;
}

.box4 {
    height: 500px;
    margin-top: 150px;

}

.box4_img {
    position: relative;
    float: left;
    height: 300px;


}

.box4_img ul li {
    float: left;
    margin: 0 15px;
}

.box4_img ul span {
    display: block;
    width: 450px;
    height: 40px;
    background-color: #1B4549;
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
    color: #fff;
}

/* 翻转效果开始 */



.item {
    position: relative;
    width: 450px;
    height: 250px;
}

.item img,
.text {
    width: 450px;
    height: 250px;
    position: absolute;
    top: 0;
    transition: all 2.5s;
}

.item img {

    background-size: cover;
    transform: rotateY(0);
    border: 1px solid gray;
    box-sizing: border-box;
    /* rotate,rotateX, rotateY   deg */

}

.item .text {
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotateY(-180deg);
    text-align: center;

    font-size: 18px;
    color: #fff;
    backface-visibility: hidden;
    padding-top: 100px;
    box-sizing: border-box;
    line-height: 30px;
}

.item:hover img {
    transform: rotateY(180deg);
}

.item:hover .text {
    transform: rotateY(0);
}



/* 翻转效果结束 */

/* footer开始了 */
.fdiv {

    height: 100px;
    background-color: #1B4549;
}

.fdiv ul li {
    display: block;
    float: left;
    width: 33.3%;
}

.fdiv ul li a {
    margin-left: 250px;
    line-height: 100px;
    color: #fff;
    font-size: 18px;

}

.fdiv ul li a:hover {
    color: #CFE8A7;
}

.fdiv ul li i {
    padding-left: 10px;
}

.map {
    height: 550px;

}

.map img {
    width: 100%;
    height: 100%;
}

.footer {
    height: 200px;
    background-color: #1B4549;
    color: #809899;


}



.footer .flogo {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}

.fr {
    float: left;
    margin-top: 50px;
    width: 230px;
    height: 120px;
    margin-left: 100px;


}

.fr p {
    font-size: 16px;
    margin-top: 5px;

}


.footer .links {
    float: left;
    margin-top: 50px;

}

.footer .links dl {
    float: left;

}

.footer .links dl dd {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 5px;
}

.footer .links dl dd a {
    color: #809899;
}

.footer .links dl dd a:hover {
    color: #CFE8A7;
}

.flast {
    height: 50px;
    text-align: center;
    background-color: #1B4549;
    line-height: 50px;
    color: #809899;
    border-top: 1px solid #fff;

    font-size: 16px;
}

.flast span {

    margin-top: 50px;

}
