@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4opn0b');
    src: url('../fonts/icomoon.eot?4opn0b#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4opn0b') format('truetype'),
        url('../fonts/icomoon.woff?4opn0b') format('woff'),
        url('../fonts/icomoon.svg?4opn0b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}


.w {
    width: 1240px;
    margin: 0 auto;
}

body {
    background-color: #F9F8F5;
}

.relation {
    position: fixed;
    right: 0;
    top: 25%;
    width: 50px;
    height: 320px;
    z-index: 600;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35px;

}

.relation ul li {
    display: block;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;

}

.return {
    margin-top: 70px;
    margin-left: 10px;
}

.return a {
    font-family: 'icomoon';
    color: black;
    font-size: 50px;

}

.relation img {
    width: 100%;
    height: 100%;
}

/* head区域 */
.head {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #333030;
}

.head .logo {
    float: left;
    width: 59px;
    height: 71px;
    margin-left: 50px;



}

.logo_img {
    width: 100%;
    height: 100%;
    margin-top: -30px;
}


.head .fl {
    float: left;
    margin-left: 80px;
    width: 735px;



}


.fl ul li {

    float: left;
    width: 80px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;

}

.fl ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.fl ul li a {
    color: #fff;
}

.fl ul li ul.sub-menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);

}

.fl ul li:hover>ul.sub-menu {
    display: block;
}

.fl ul li ul.sub-menu li {
    float: none;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;

}

.fl .white {
    width: 1px;
    height: 18px;
    line-height: 90px;
    background-color: #fff;
    margin: 38px 15px 0;

}


.login {
    float: right;

    width: 300px;
    height: 90px;
    line-height: 90px;
}


.login ul li {
    float: left;

    margin-left: 20px;
    font-size: 16px;
    color: #fff;
}




.s_red {
    color: rgb(194, 46, 46);
}

.phone {
    float: right;
    margin-right: 60px;
    line-height: 90px;
    font-size: 16px;
    color: #fff;
}



.logo {
    padding-top: 18px;
}

.himg {
    height: 520px;
}

.himg img {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.content {
    position: relative;
    height: 165px;
    background: url(../imgs/bk1.jpg);

    background-color: rgba(0, 0, 0, 0.1);

}

.content_l h2 {
    position: absolute;
    top: 40px;
    font-size: 36px;
    color: black;
    font-weight: 400;



}

.content_l span {

    position: absolute;
    top: 100px;

    color: black;
    font-size: 16px;

}

.star {
    font-family: 'icomoon';
    color: #F57D00;
    font-size: 16px;
    margin-left: 10px;
}

.content_r {
    position: absolute;
    top: 90px;
    right: 300px;
    width: 125px;
    height: 45px;

    line-height: 45px;
    text-align: center;
}

.content_r button {
    width: 125px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    background-color: #F57D00;
}

.bk1 {
    width: 100%;
    height: 800px;
    background: url(../imgs/bk1.jpg);
}

.goods {
    padding-top: 50px;
}

.text_1 {
    position: relative;

    width: 670px;
    height: 90px;

}

.goods .price {
    float: left;
    width: 185px;
    height: 90px;

    border: 1px solid #a6a3a4;
}

.goods .price .p1 {
    text-decoration: line-through;
    font-size: 14px;

    color: #666;
    margin-left: 25px;
    margin-top: 10px;
}

.goods .price .p2 {
    color: #666;
    margin-left: 20px;
}

.goods .price .p2 em {
    font-size: 36px;
    width: 400;

}

.goods .price .p2 span {
    font-size: 14px;
}

.num {
    float: left;
    font-size: 14px;
    margin-top: 60px;
    margin-left: 15px;
}

.select_1 {
    width: 670px;
    height: 85px;

    margin-top: 30px;
}

.select_1 button {
    width: 130px;
    height: 65px;
    color: #fff;
    font-size: 18px;
    color: #a89169;
    border: 1px solid #a89169;

}

.select_1 button:focus {
    color: #fff;
    background-color: #a89169;
}

.select_1 button:hover {
    color: #fff;
    background-color: #a89169;
}


.select_1 ul li {
    float: left;
}

.select_2 span {
    color: black;
    display: block;
    width: 80px;
    height: 32px;
    margin-top: 20px;
    font-size: 16px;

}

.select_2 .b3 {
    height: 50px;

    font-size: 15px;
    padding: 8px 15px;
    margin-top: 8px;
    margin-right: 15px;
    color: #a89169;
    border: 1px solid #a89169;
}

.select_2 button:focus {
    color: #fff;
    background-color: #a89169;
}

.select_2 button:hover {
    color: #fff;
    background-color: #a89169;
}

.select_2 ul li {
    float: left;
    margin-right: 10px;
}

.date {
    height: 35px;
    margin-top: 20px;
}

.date span {
    float: left;
    display: block;
    color: black;
    width: 80px;
    height: 32px;
    font-size: 16px;
}

.date input {
    float: left;
    margin-left: 20px;
    font-size: 16px;
}

.text_2 {
    font-size: 14px;
    color: black;
    margin-left: 15px;
}

.text_2 p {
    margin-top: 10px;
}

.purchase {
    width: 180px;
    height: 60px;
    margin-top: 30px;

}

.purchase button {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: #eb3814;
    font-size: 22px;
    color: #fff;

}

.vr {
    position: absolute;
    top: 84%;
    right: 10%;
    width: 600px;
    height: 350px;
    border-radius: 20px;

}

.vr video {
    border-radius: 20px;
    width: 600px;
    height: 350px;
}

.text {
    margin-top: 20px;
    height: 100px;



}

.text ul li {
    float: left;
    margin-top: 40px;
}

.text ul a {
    display: inline-block;
    width: 145px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    border: 1px solid #777;
    color: #777;

}

.phead h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid black;
}

.text_3 {
    margin-top: 20px;
}

.text_3 ul li {
    margin: 10px 0;
    font-size: 18px;
    color: black;
}

.footer {

    height: 200px;
    background-color: #1B4549;
    color: #809899;
    margin-top: 100px;


}



.footer .flogo {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}

.fr {
    float: left;
    margin-top: 50px;
    width: 230px;
    height: 120px;
    margin-left: 100px;


}

.fr p {
    font-size: 16px;
    margin-top: 5px;

}


.footer .links {
    float: left;
    margin-top: 50px;

}

.footer .links dl {
    float: left;

}

.footer .links dl dd {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 5px;
}

.footer .links dl dd a {
    color: #809899;
}

.footer .links dl dd a:hover {
    color: #CFE8A7;
}

.flast {
    height: 50px;
    text-align: center;
    background-color: #1B4549;
    line-height: 50px;
    color: #809899;
    border-top: 1px solid #fff;

    font-size: 16px;
}

.flast span {
    margin-top: 50px;

}